<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <title>Dessine-moi…</title>
    </head>
    <body>
        <h1>S’il vous plait, dessine-moi…</h1>

        <div class="conteneur-idees-dessin">
            {% for index, idee in enumerate(idees) %}
            <p class="idee-dessin" id="{{ index + 1 }}">{{ idee }}</p>
            {% endfor %}
        </div>

        <div class="conteneur-boutons-nouvelle-idee">
            {% for index, idee in enumerate(idees) %}
            <a class="bouton-nouvelle-idee" href="#{{ index + 1 }}">Nouvelle idée ?</a>
            {% endfor %}
        </div>
    </body>
</html>
