* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    line-height: 1.4;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    color: #1f0e13;
    text-align: center;
    background-color: #FEE140;
    background-image: linear-gradient(45deg, #FEE140 0%, #FA709A 100%);
}

h1 {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

.idee-dessin {
    display: none;
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;
}

.idee-dessin:target {
    display: block;
}

.conteneur-boutons-nouvelle-idee {
    position: relative;
}

@keyframes changeOrdre {
    from { z-index: {{ len(idees) }}; }
    to { z-index: 1; }
}

.bouton-nouvelle-idee {
    animation: changeOrdre 3s infinite linear;
    position: absolute;
    transform: translateX(-50%);
    padding: 0.5rem 2rem;
    color: #5e2a3a;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: #fdc258;
    border: 2px solid #fb977b;
    border-radius: 2rem;
}

{% for index, idee in enumerate(idees) %}
.bouton-nouvelle-idee:nth-of-type({{ index + 1 }}) { animation-delay: -{{ 0.5 * index }}s; }
{% endfor %}

.bouton-nouvelle-idee:active {
    z-index: {{ len(idees) + 1 }} !important;
}
